@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
body {
  background-color: #ccc6ba;
}
.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: #ccc6ba;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-fugiro {
  font-size: 25px;
  color: white;
}

.titulo-agro {
  font-size: 25px;
  color: #ff5e1e;
}

.login {
  padding: 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background: #1c1c1c;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 13px -7px #ffffff,
    -4px -5px 0px 8px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    -4px -5px 0px 8px rgba(255, 255, 255, 0);
  backdrop-filter: blur(7px) saturate(74%);
  -webkit-backdrop-filter: blur(7px) saturate(74%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.imageee {
  border-radius: 450px 450px 450px 450px;
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 22%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  margin-top: -40px;
}

.title-fugiro {
  color: white;
  font-size: 24px;
}

.title-agro {
  color: #ee936f;
  font-size: 24px;
}

.input2 {
  font-size: 15px;
  padding: 5px 5px;
  background-color: #fff;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px;
  margin-top: 30px;
  color: #000;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}

.botao {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  background-color: #ee936f;
  border: 0px;
  font-family: "Kanit";
  font-size: 20px;
  transition: 1s all;
  cursor: pointer;
}

.botao:hover {
  background-color: #32cd32;
  transform: scale(1.1);
  color: white;
}

.login a {
  color: rgb(134, 134, 134);
  position: relative;
  bottom: 5vh;
}

@media screen and (max-width: 480px) {
  .login {
    width: 80%;
  }

  .input1,
  .input2,
  .botao {
    width: 90%;
  }
}
